@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    hsl(210, 100%, 95%) 0.89%,
    #ddedff 17.23%,
    #c2deff 42.04%,
    #b0d5ff 55.12%,
    #97c8ff 71.54%,
    #d0e5ff 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.line-gradient-to-right {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #bad6f7 0.89%,
    #899eb6 17.23%,
    #6c7c8f 42.04%,
    #5d6b7a 55.12%,
    #485461 71.54%,
    #24293033 100%
  );
}

.line-gradient-to-left {
  background: radial-gradient(
    64.18% 64.18% at 28.84% 35.69%,
    /* Cambio en la posición horizontal del centro */ #bad6f7 0.89%,
    #899eb6 17.23%,
    #6c7c8f 42.04%,
    #5d6b7a 55.12%,
    #485461 71.54%,
    #24293033 100%
  );
}
